.chat-row-container {
  border: 2px solid #1282A2;
  border-radius: 6px;
  padding: 17px;
  margin-bottom: 10px;
}

.chat-icon {
  height: 60px;
  width: 60px;
  border: 2px solid #1282A2;
}

.chat-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-row-text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}