#home-page {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  padding: 0%;
  margin: auto;
}

.search-row {
  margin: auto;
  margin-top: 1%;
  margin-bottom: 2%;
  padding: 0%;
  width: 100%;
  height: 100%;
}

#filter-button {
  background-color: #034078;
  display: flex;
  justify-content: flex-start;
  /* resize: both; */
}

.search-bar {
  padding-left: 0%;
}

.list-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.card-tile {
  display: flex;
  justify-content: center;
  margin: auto;
}

.search-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.search-row-input {
  width: 80%;
  margin-right: 10px;
}

.search-row-radius {
  width: 25%;
  margin-left: 10px;
}

.home-page-row {
  display: flex;
  flex-direction: row;
}

.address-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.address-row-input {
  width: 65%
}

.map-container {
  margin-left: 15px;
  margin-bottom: 5px;
}

.pagination {
  justify-content: space-evenly;
}